body {

    font-family: 'Rowdies', cursive;
    background: #DCDCDC;
 

}

.cabecalho{
    height: auto;
    background: linear-gradient(#C0C0C0, #D3D3D3, #DCDCDC);
    padding: 50px;
    box-sizing: border-box;


}

.logo {

    top: 0px;
    margin-left: 2px;
    width: 10%;
    opacity: 0.9;
    box-shadow: 5px 5px 10px grey;


}


.site-container {
    width: auto;
    max-width: 1200px;
    margin: auto;
}

.banner {
    position:relative;
}

.banner__imagem {
    display: block;
}

.banner__titulo {
        font-size: 2.0em;
        opacity: 500%;
        color: #bb6ae7;
        padding-left: 16px;
        padding-right: 16px;
        position: absolute;
        bottom: 20px;
        left: 16px;
}


footer {

    background: linear-gradient(#DCDCDC, #D3D3D3, #C0C0C0);
    padding: 100px;
    box-sizing: border-box;
}



.carrossel {

    width: 100%;
    background: #DCDCDC;

}
.carrossel img {

    height: 350px;
    width: 100%;
    object-fit: cover;
}

.como {
    box-sizing: border-box;
    width: 90%;
    text-align: left;
    margin-top: 30px;
    padding: 80px;

}

.sobre {

    display: inline-block;
    vertical-align: top;
    text-align: right;
    font-size: 20px;
    width: 80%;
    color: black;
    padding: 30px;

}

.sobre p {
    position: relative;
    display: inline;
    width: 20%;
}

.sobre strong, h3 {

    color: #bb6ae7;
    font-weight: bold;
}

.como img {
    width: 15%;
    box-shadow: 5px 5px 10px black;
    float: right;

}

.o-que-e {

    box-sizing: border-box;
    width: 90%;
    text-align: left;
    margin-top: 30px;
    padding: 70px;
    margin-left: 90px;
}

.textos {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-size: 20px;
    width: 60%;
    color: black;
    padding: 10px;
    padding-top: 1px;


}

.textos strong {

    color: #bb6ae7;
    font-weight: bold;
}


.texto-img {


    width: 15%;
    box-shadow: 5px 5px 10px black;
}

/* celular */

@media screen and (max-width: 480px) {

