
body {

    font-family: 'Rowdies', cursive;
    margin: 0 auto;
    background: #DCDCDC;
    
}

header {

    background: linear-gradient( #C0C0C0,#D3D3D3, #DCDCDC);
    padding: 50px;
    box-sizing: border-box;
    

}


.caixa {
    top: 0px;
    
    width: 90%;   
    margin: 0 auto;
    margin-bottom: 30px;
}

.caixa h1 {
    padding-top: 50px;
    text-align: center;
    color:#bb6ae7;
    opacity: 0.7;
}


.logo {
    position: absolute;
    top: 0px;
    left: 150px;
    float: left;
    left: 0;
    margin-left: 2px;
    width: 10%;
    opacity: 0.9;
    padding-top: 50px;
    padding-left: 100px;
}


footer {

    background: linear-gradient( #DCDCDC, #D3D3D3,#C0C0C0 );
    padding: 100px;
    box-sizing:border-box ;
}



.carrossel {

    width: 100%;
    background: #DCDCDC;
   
}

.owl-carousel .owl-stage-outer {

    width: 100%;
}
.carrossel img {

    height: 400px;
    width: 100%;
    object-fit: cover;
}

.textos {
    
   
    box-sizing:border-box ;
   font-size: 20px;
    text-align: center;
    width: 90%;
    padding: 20px;
    color: black;
    margin-left: 10%;
    background: #DCDCDC;
    margin-top: 25px;
}

.textos h2, strong {

    color:  #bb6ae7;
}


.texto-img {

    float: left;
    width: 30%;
}