body {

    font-family: 'Rowdies', cursive;
    margin: 0 auto;
    background: #DCDCDC;
    border: 2px dotted#bb6ae7;

}

header {

    background: linear-gradient(#C0C0C0, #D3D3D3, #DCDCDC);
    padding: 50px;
    box-sizing: border-box;


}


.caixa {
    top: 0px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.caixa h1 {
    padding-top: 50px;
    text-align: center;
    color: #bb6ae7;
    opacity: 0.7;
}


.logo {
    position: absolute;
    top: 0px;
    left: 150px;
    float: left;
    left: 0;
    margin-left: 2px;
    width: 10%;
    opacity: 0.9;
    margin-top: 50px;
    margin-left: 100px;
    box-shadow: 5px 5px 10px grey;


}


footer {

    background: linear-gradient(#DCDCDC, #D3D3D3, #C0C0C0);
    padding: 100px;
    box-sizing: border-box;
}



.carrossel {

    width: 100%;
    background: #DCDCDC;

}

.owl-carousel .owl-stage-outer {

    width: 100%;
}

.carrossel img {

    height: 350px;
    width: 100%;
    object-fit: cover;
}

.como {
    box-sizing: border-box;
    width: 90%;
    text-align: left;
    margin-top: 30px;
    padding: 90px;

}

.sobre {

    display: inline-block;
    vertical-align: top;
    text-align: right;
    font-size: 20px;
    width: 80%;
    color: black;
    padding: 30px;

}

.sobre p {
    position: relative;
    display: inline;
    width: 20%;
}

.sobre strong, h3 {

    color: #bb6ae7;
    font-weight: bold;
}

.como img {
    width: 15%;
    box-shadow: 5px 5px 10px black;
    float: right;

}

.o-que-e {

    box-sizing: border-box;
    width: 90%;
    text-align: left;
    margin-top: 30px;
    padding: 90px;
}

.textos {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 20px;
    width: 60%;
    color: black;
    padding: 20px;


}

.textos strong {

    color: #bb6ae7;
    font-weight: bold;
}


.texto-img {


    width: 15%;
    box-shadow: 5px 5px 10px black;
}

/* celular */

@media screen and (max-width: 480px) {

header {

    padding: 5px;
}

.logo {

    margin-left: 20px;
    margin-top: 35px;
    width: 13%;
}

.titulo-principal {

    padding-top: 39px;
    font-size: 15px;
    padding-left: 40px;
}

.owl-carousel .owl-stage-outer {

    width: 100%;
    height: 150px;
}

.carrossel {

    
    width: 100%;
    object-fit: cover;
}

.como {
    box-sizing: border-box;
    width: 70%;
    text-align: left;
    margin-top: 6px;
    padding: 5px;
    display: inline;

}

.como img {
    width: 30%;
    box-shadow: 5px 5px 10px black;
    float: right;;
    margin-right: 10px;
    margin-top: 10px;

}

.sobre {

    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 10px;
    width: 59%;
    color: black;
    padding: 5px;

}